/* Very basic reset */
*, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100dvw;
    height: 100dvh;
}

/* Nav-bar */
header {
    height: 50px;
    padding: 0rem 1rem;
}

nav {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    height: inherit;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container > a{
    text-decoration: none;
    list-style: none;
    color: black;
    font-weight: 700;
}

ul {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style-type: none;
    margin: 0px 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li:hover {
    color: green;
    border: 1px solid green;
}

ul li a {
    text-decoration: none;
    color: black;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.hamburger {
    display: none;
    font-size: 20px;
    font-weight: 800;
    color: black;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 0.75rem;
}

@media screen and (max-width:768px) {
    /* Style the hamburger icon and hide the close icon */
    .hamburger {
        display: flex;
        cursor: pointer;
    }
    .hamburger #closeHam {
        display: none;
    }
    .nav-items {
        display: none;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 58px;
        width: 100%;
        height: calc(100vh - 58px);
        padding-top: 60px;
        border: 1px solid red;
    }
}