:root {
    --resp-nav-bg: white;
    --resp-nav-font-color: black;
}

/* Very basic reset */
*, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100dvw;
    height: 100dvh;
}

main {
    width: 100%;
    height: auto;
}

/* Nav-bar */
header {
    height: 50px;
    padding: 0rem;
}

nav {
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 100;
    background-color: white;
}

.logo-container {
    height: inherit;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container > a{
    text-decoration: none;
    list-style: none;
    color: black;
    font-weight: 700;
}

ul {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style-type: none;
    margin: 0px 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li:hover {
    color: green;
    border: 1px solid green;
}

ul li a {
    text-decoration: none;
    color: black;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.hamburger {
    display: none;
    font-size: 20px;
    font-weight: 800;
    color: black;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    text-align: center;
    padding-top: 60px;
}

.heroSection {
    background-color: red;
}

.about {
    background-color: green;
}

.projects {
    background-color: blue;
}

.contact {
    background-color: fuchsia;
}

footer {
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 0.75rem;
}

@media screen and (max-width:768px) {
    /* Style the hamburger icon and hide the close icon */
    .hamburger {
        display: flex;
        cursor: pointer;
    }

    .hamburger #closeHam {
        display: none;
    }

    .nav-items {
        display: none;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 58px;
        width: 100%;
        height: 50%;
        border: 1px solid red;
        background-color: var(--resp-nav-bg);
    }

    .nav-items li {
        width: 100%;
        height: 100px;
    }

    .nav-items li a {
        color: var(--resp-nav-font-color);
    }
}