body {
    max-width: 100dvw;
    max-height: 100dvh;
}

/* Main card styling */
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass-container {
    background-color: hsla(180, 9%, 98%, 0.312);
    border: 3px solid hsla(180, 9%, 98%, 0.151);
    box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.375);
    border-radius: 1rem;
    width: 50%;
    margin: 1rem;
    padding: 6rem;
    text-align: center;
}